.rootNode {
    -fx-border-width: 1;
    -fx-border-color: #a8a8a8;
    -fx-border-radius: 15;
    -fx-padding: 15;
}

.label {
    -fx-font-family: "Roboto Thin";
    -fx-text-fill: black;
    -fx-font-size: 16;
}