.root {
    -fx-font-family: "Roboto";
}

.label {
    -fx-font-family: "Roboto";
}

.leftMenu {
    -fx-background-color: white;
}

.button{
    -fx-background-color: #000000;
    -fx-font-size: 8pt;
    -fx-text-fill: white;
    -fx-shape: "M 200 250 L 500 250 Q 550 250 550 300 Q 550 350 500 350 L 200 350 Q 150 350 150 300 Q 150 250 200 250"
}
.button:hover{
    -fx-background-color: #b6b6b6;
    -fx-text-fill: black;
}
.adminButton:hover{
    -fx-background-color: #3CB371;
}
.connectButton:hover{
    -fx-background-color: #6495ed;
}

.split-pane > .split-pane-divider {
    -fx-background-color: #d9d9d9;
}

.scroll-pane {
    -fx-background-color: white;
    -fx-border-color: #e5e5e5;
}

.text-field{
    -fx-font-family: Roboto;
	-fx-accent: #000000;
	-fx-background-color: #A9A9A9, white;
	-fx-background-insets: 0, 0 0 2 0;
	-fx-background-radius: 0;
}

.text-field:focused{
	-fx-background-color: #000000, white;
}
